<div class="counter">
  <table border='0' width="50%" bgcolor="white" align="center">
    <tr>
      <td align="center" colspan="2">
        <button (click)="decrement()">
          Decrement</button>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <input type="text" [value]="count">
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <button (click)="increment()">
          Increment</button>
      </td>
    </tr>
  </table>
</div>
