<div>
  <app-todo-form [isEdit]="isEdit" [todo]="todo" (onAdd)="addTodo($event)" (onSave)="saveTodo($event)">
  </app-todo-form>
  <app-todo-list [todos]="todos" (onEditClick)="onEditClick($event)" (onComplete)="completeTodo($event)" (onDelete)="removeTodo($event)">
  </app-todo-list>
</div>
